@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}

input:focus {
  outline-style: solid;
}

.text-gradient {
  background: #0ea5e9;
  background: linear-gradient(to right, #0ea5e9 0%, #6366f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CTA-gradient {
  background: rgb(56, 189, 248);
  background: linear-gradient(
    50deg,
    rgba(56, 189, 248, 1) 0%,
    rgba(127, 137, 237, 1) 100%
  );
}
